.button {
  display: flex;

  border: none;
  
  @include reset-indents;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color-black;

  min-height: 40px;
  box-sizing: border-box;

  background-color: $color-white;

  & span {
    margin: auto;
  }

  &:focus {
    outline: 3px solid #2090ff;
  }
}