.cruises {
  padding: 110px 8.6% 90px 8.6%;
}

.cruises__flex-wrapper {
  display: flex;
}

.cruises__list {
  @include reset-indents;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cruises__item {
  margin-bottom: 30px;
}

.cruises h2 {
  @include reset-indents;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;

  margin-bottom: 49px;
}

// ---  Стили для Планшета  ---
@media (max-width: $tablet-width) {
  .cruises {
    width: auto;
    margin: 0 auto;
    padding: 90px 60px 70px 60px;
  }

  .cruises h2 {
    font-size: 26px;
    line-height: 39px;
  }
}

// ---  Стили для Мобильного экрана  ---
@media (max-width: $mobile-width) {
  .cruises h2 {
    font-size: 24px;
    line-height: 36px;

    margin-bottom: 30px;
  }

  .cruises {
    padding: 56px 25px 35px 25px;
  }

  .cruises__item {
    margin-left: auto;
    margin-right: auto;
  }

  .cruises__list {
    flex-direction: column;
  }
}
