.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  min-height: 138px;
  box-sizing: border-box;

  margin-top: auto;
  padding: 50px 103px 50px 103px;

  background-color: $color-black;
}

.footer__social-list {
  @include reset-indents;
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-self: center;

  margin-left: 50px;
}

.footer__social-item {
  display: flex;

  margin-left: 33px;

  &:first-child {
    margin-left: 0;
  }
}

.footer__social-link {
  display: inline-block;

  align-self: center;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  &--facebook {
    width: 11px;
    height: 20px;
  }

  &--instagram {
    width: 20px;
    height: 20px;
  }

  &--twitter {
    width: 20px;
    height: 16px;
  }

  &:focus {
    outline: 2px solid #2090ff;
  }

  &:hover {
    box-shadow: 0 0 2px 2px #2090ff;
  }

  &:active {
    box-shadow: 0 0 5px 2px #e2f1ff;
  }
}

// ---  Стили для Планшета  ---
@media (max-width: $tablet-width) {
  .footer {
    padding: 50px 45px 50px 45px;

    min-height: 120px;
  }

  .footer__social-item {
    margin-left: 23px;
    padding-bottom: 5px;
  }

  .footer__facebook {
    width: 9px;
    height: 16px;
  }

  .footer__instagram {
    width: 16px;
    height: 16px;
  }

  .footer__twitter {
    width: 16px;
    height: 13px;
  }

  .footer__social-link {
    &--facebook {
      width: 9px;
      height: 16px;
    }

    &--instagram {
      width: 16px;
      height: 16px;
    }

    &--twitter {
      width: 16px;
      height: 13px;
    }
  }
}

// ---  Стили для Мобильного экрана  ---
@media (max-width: $mobile-width) {
  .footer {
    flex-direction: column;

    padding: 40px 15px 40px 15px;

    min-height: 283px;
  }

  .footer__social-list {
    align-self: flex-start;

    margin-top: 0;
    margin-left: 0;
  }

  .footer__social-item {
    margin: 0;
    margin-right: 23px;
    padding-bottom: 0;
  }
}
