.footer {
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 138px;
  box-sizing: border-box;

  padding: 50px 103px 50px 103px;
  
  background-color: $color-black;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-self: center;
  
  @include reset-indents;
  list-style: none;
}

.footer__social-item {
  display: flex;

  margin-left: 33px;

  &:first-child {
    margin-left: 0;
  }
}

.footer__social-link {
  display: inline-block;

  align-self: center;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  &--facebook {
    width: 11px;
    height: 20px;

    background-image: url("../img/icon-facebook.svg");
  }

  &--instagram {
    width: 20px;
    height: 20px;

    background-image: url("../img/icon-instagram.svg");
  }

  &--twitter {
    width: 20px;
    height: 16px;

    background-image: url("../img/icon-twitter.svg");
  }

  &:focus {
    outline: 3px solid #2090ff;
  }
}

// ---  Стили для Планшета  ---
@media (max-width: $tablet-width) {
  .footer {
    padding: 50px 45px 50px 45px;

    height: 120px;
  }

  .footer__social-item {
    margin-left: 23px;
  }

  .footer__social-link {
    &--facebook {
      width: 9px;
      height: 16px;
    }
  
    &--instagram {
      width: 16px;
      height: 16px;
    }
  
    &--twitter {
      width: 16px;
      height: 13px;
    }
  }
}

// ---  Стили для Мобильного экрана  ---
@media (max-width: $mobile-width) {
  .footer {
    flex-direction: column;
    
    padding: 40px 15px 40px 15px;

    height: 283px;
  }

  .footer__social-list {
    align-self: flex-start;

    margin-top: 0;
  }

  .footer__social-item {
    margin: 0;
    margin-right: 23px;
  }
}