.footer {
  width: 100%;
  min-height: 138px;
  box-sizing: border-box;

  padding: 50px 103px 50px 103px;
  margin-top: auto;

  background-color: $color-black;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0 auto;
  height: 100%;
  max-width: 1366px;
  box-sizing: border-box;
}

.footer__social-list {
  @include reset-indents;
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-self: center;

  margin-left: 50px;
}

.footer__social-item {
  display: flex;

  margin-left: 33px;

  &:first-child {
    margin-left: 0;
  }
}

.footer__social-link {
  display: inline-block;

  color: $color-white;

  align-self: center;

  &--facebook {
    width: 11px;
    height: 20px;
  }

  &--instagram {
    width: 20px;
    height: 20px;
  }

  &--twitter {
    width: 20px;
    height: 16px;
  }

  &:focus {
    transform: scale(1.1);
    color: #7fbefd;
  }

  &:hover {
    transform: scale(1.1);
    color: #a2d1ff;
  }

  &:active {
    transform: scale(1.2);
    color: #359aff;
  }
}

// ---  Стили для Планшета  ---
@media (max-width: $tablet-width) {
  .footer {
    min-height: 120px;
    padding: 50px 45px 50px 45px;
  }

  .footer__social-item {
    margin-left: 23px;
    padding-bottom: 5px;
  }

  .footer__facebook {
    width: 9px;
    height: 16px;
  }

  .footer__instagram {
    width: 16px;
    height: 16px;
  }

  .footer__twitter {
    width: 16px;
    height: 13px;
  }

  .footer__social-link {
    &--facebook {
      width: 9px;
      height: 16px;
    }

    &--instagram {
      width: 16px;
      height: 16px;
    }

    &--twitter {
      width: 16px;
      height: 13px;
    }
  }
}

// ---  Стили для Мобильного экрана  ---
@media (max-width: $mobile-width) {
  .footer {
    min-height: 283px;
    padding: 40px 15px 40px 15px;
  }

  .footer__wrapper {
    flex-direction: column;
  }

  .footer__social-list {
    align-self: flex-start;

    margin-top: 12px;
    margin-left: 0;
  }

  .footer__social-item {
    margin: 0;
    margin-right: 23px;
    padding-bottom: 0;
  }
}
