.header {
  position: absolute;
  top: 0;

  height: 110px;
  width: 100%;
  margin: 0 auto;
  padding: 35px 103px 35px 103px;
  box-sizing: border-box;
}

// ---  Стили для Планшета  ---
@media (max-width: $tablet-width) {
  .header {
    height: 110px;
    padding: 30px 45px 30px 45px;
  }

  .header h1 {
    font-size: 50px;
    line-height: 61px;

    margin-top: 214px;
    margin-left: 0;
  }

  .header p {
    font-size: 18px;
    line-height: 22px;

    margin-top: 12px;
    margin-left: 0;
  }
}

// ---  Стили для Мобильного экрана  ---
@media (max-width: $mobile-width) {
  .header {
    height: 110px;
    padding: 20px 15px 20px 15px;
  }

  .header h1 {
    font-size: 36px;
    line-height: 125%;

    margin-top: 130px;
  }

  .header p {
    font-size: 16px;
    line-height: 140%;

    padding-right: 60px;
  }
}
