.button {
  display: flex;
  
  @include reset-indents;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color-black;

  min-height: 40px;
  width: calc(100% - 2px);
  margin-top: 14px;
  margin-left: 2px;
  box-sizing: border-box;

  background-color: $color-white;

  & span {
    margin: auto;
  }
}